* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    margin: 0px;
    height: 100%;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}