/* loads all the fonts used on the website */

/* poppins-bold */
@font-face {
    font-family: "poppins-bold";
    src: url("../webfonts/poppins/poppins-bold.ttf");
}

/* poppins-normal */
@font-face {
    font-family: "poppins-normal";
    src: url("../webfonts/poppins/poppins-regular.ttf");
}

/* poppins-medium */
@font-face {
    font-family: "poppins-medium";
    src: url("../webfonts/poppins/poppins-medium.ttf");
}
