* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    margin: 0px;
    height: 100%;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

p {
    margin-block: 0px;
}

#chart-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}