body {
    margin: 2.5rem;
}

#priceUpdateTimer {
    font-size: 2.8rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: none;
    line-height: 0;
}

#timer {
    font-size: 3.2rem;
}

#infoText {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: 10%;
}

#title {
    font-size: 2.5rem;
    line-height: 0;
}

#infoText {
    font-size: 2rem;
    font-weight: 300;
}